*{
    margin: 0;
  }


@media (max-width: 950px){
body {
    /*(background: teal;*/
    background: url("https://s-media-cache-ak0.pinimg.com/originals/2e/b2/af/2eb2affd21ca861cce1cb4ff0108a39e.png")
    no-repeat center center fixed;
      -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          margin-top: 0;
    background-size: 100% 100%;
  }
nav {
  background-color: black;
  width: 100%;
  height: 77px;
  position: fixed;
  z-index: 2;
}
nav ul {
  float: left;
}
.dropbtn img{
  padding-top: 15px;
}
h1{
  color: #2EFEC8;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  border: 8px solid #2EFEC8;
  text-align: center;
}
.dropcontent {
    display: none;
    position: absolute;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;
    height: 350px;
}
.dropcontent li a {
    color: #04B4AE;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.dropcontent li a:hover {
    color: #01DFD7;
}
  .drop:hover .dropcontent{
    display: block;
}
div.menu ul{
    list-style-type: none;
}
}

@media (min-width: 951px) {
  body{
    /*(background: teal;*/
    background: url("https://s-media-cache-ak0.pinimg.com/originals/2e/b2/af/2eb2affd21ca861cce1cb4ff0108a39e.png")
    no-repeat center center fixed;
      -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          margin-top: 0;
    background-size: 100% 100%;
  }
  nav {
    background-color: black;
    width: 100%;
    height: 77px;
    position: fixed;
    z-index: 2;
  }

  nav ul {
    float: left;
    list-style-type: none;
  }

  nav ul li{
    float:left;
    padding-left: 15px;
    padding-top: 25px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .dropcontent li a:hover {
      color: #01DFD7;
    }
  .dropbtn img{
    display: none;
  }

  h1{
    color: #2EFEC8;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    border: 8px solid #2EFEC8;
    text-align: right;
  }
}

h4{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  /*color: #2EFEC8;*/
  color: black;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  }

.circle {
  z-index: 1;
  background-color: #6699FF;
  border: 2px solid #3366FF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-left: 45%;
  position: relative;
  /* width and height can be anything, as long as they're equal */
}
.circle1 {
  background-color: #6699FF;
  border: 2px solid #3399FF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-left: 15%;
  margin-top: 110px;
  position: relative;
  float: left;
  /* width and height can be anything, as long as they're equal */
}

.circle5 {
  background-color: #6699FF;
  border: 2px solid #3399FF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-left: 20%;
  margin-top: 110px;
  position: relative;
  float: left;
  /* width and height can be anything, as long as they're equal */
}

.circle2 {
  background-color: #6699FF;
  border: 2px solid #3399FF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-top: 100px;
  margin-left: 75%;
  position: relative;
  /* width and height can be anything, as long as they're equal */
}
.circle3 {
  background-color: #6699FF;
  border: 2px solid #3399FF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-top: 170px;
  margin-left: 25%;
  position: relative;
  /* width and height can be anything, as long as they're equal */
}
.circle4 {
  background-color: #6699FF;
  border: 2px solid #3399FF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-left: 65%;
  margin-bottom: 100px;
  position: relative;
  /* width and height can be anything, as long as they're equal */
}
.text {
	position:absolute;
     top:0px;
     padding-top: 35%; /* center the top of child elements vetically */
     padding-left: 15%;
     height:0px;
}
.text h2{
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
}
.text h2 a{
	text-decoration: none;
	color: #2EFEC8;
}
.text h2 a:hover {
	color: #01DFD7;;
}
.text2 {
	position:absolute;
     top:0px;
     padding-top: 30%; /* center the top of child elements vetically */
     padding-left: 10%;
     height:0px;
}
.text2 h2{
	font-size: 17px;
	font-family: 'Quicksand', sans-serif;
}
.text2 h2 a{
	text-decoration: none;
	color: #2EFEC8;
}
.text2 h2 a:hover {
	color: #01DFD7;;
}
.text3 {
	position:absolute;
     top:0px;
     padding-top: 30%; /* center the top of child elements vetically */
     padding-left: 10%;
     height:0px;
}
.text3 h2{
	font-size: 17px;
	font-family: 'Quicksand', sans-serif;
}
.text3 h2 a{
	text-decoration: none;
	color: #2EFEC8;
}
.text3 h2 a:hover {
	color: #01DFD7;;
}
.text4 {
	position:absolute;
     top:0px;
     padding-top: 25%; /* center the top of child elements vetically */
     padding-left: 10%;
     height:0px;
}
.text4 h2{
	font-size: 17px;
	font-family: 'Quicksand', sans-serif;
}
.text4 h2 a{
	text-decoration: none;
	color: #2EFEC8;
}
.text4 h2 a:hover {
	color: #01DFD7;;
}

.text5 {
	position:absolute;
     top:0px;
     padding-top: 25%; /* center the top of child elements vetically */
     padding-left: 15.5%;
     height:0px;
}
.text5 h2{
	font-size: 17px;
	font-family: 'Quicksand', sans-serif;
}
.text5 h2 a{
	text-decoration: none;
	color: #2EFEC8;
}
.text5 h2 a:hover {
	color: #01DFD7;;
}
h6{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  /*color: #2EFEC8;*/
  color: black;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0;
  }

.contact a{
  padding-left: 15%;
}

.contact img{
  padding-top: 30px;
}

.contact{
  background-color: #2EFEC8;
  height: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}

div{
  display: block;
}
